<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603734276904-ddaobutmck3qo9vqh4b559cp33bv40c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603734276904-ddaobutmck3qo9vqh4b559cp33bv40c0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603734276904-u95qcmj6sdsdkeuj7bk8fucdlkr2rl8m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiExA_RP8AUQB4RRkJCBqM7Dt_W01kkJY</string>
	<key>GCM_SENDER_ID</key>
	<string>603734276904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatme</string>
	<key>PROJECT_ID</key>
	<string>chat-me-87a68</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-me-87a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603734276904:ios:56de239144b51607c3ee1d</string>
</dict>
</plist>